@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.7;
}

.container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 30px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #333;
  padding: 30px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.5s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
  border: 3px solid #333;
}

@media (max-width: 375px) {
  .slide .content {
    padding: 10px;
    line-height: 1.4;
  }
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
    padding: 10px;
    line-height: 1.4;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}

.slide:first-child {
  background: url("./img/La-Paz.jpg") no-repeat center center/cover;
}
.slide:nth-child(2) {
  background: url("./img/ottawa.jpg") no-repeat center top/cover;
}
.slide:nth-child(3) {
  background: url("./img/reykjavik.jpg") no-repeat center top/cover;
}
.slide:nth-child(4) {
  background: url("./img/tokyo.jpg") no-repeat center top/cover;
}
.slide:nth-child(5) {
  background: url("./img/athens.jpg") no-repeat center top/cover;
}
.slide:nth-child(6) {
  background: url("./img/havana.jpg") no-repeat center top/cover;
}
